<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div class="nav-logo">
        <h3>
          <a href="/"
            ><span class="spanone">BWT</span
            ><span class="spantwo">Bengali WebToon</span>
          </a>
        </h3>
      </div>
      <nav>
        <ul role="list" class="nav-list flex-group">
          <li class="list1">
            <a href="/">Home</a>
          </li>
          <li class="list2">
            <a href="/blog">Reviews</a>
          </li>
          <li class="list3">
            <a
              href="https://www.facebook.com/groups/5717013748411048/?ref=share&mibextid=NSMWBT"
              target="_blank"
              >BWT</a
            >
          </li>
          <li class="list4">
            <a
              href="https://www.facebook.com/groups/1669674776898036/?ref=share&mibextid=NSMWBT"
              target="_blank"
            >
              BWT Alt</a
            >
          </li>
          <li class="list5">
            <a
              href="https://www.facebook.com/groups/587713549913453/?ref=share&mibextid=NSMWBT"
              target="_blank"
              >RoAMV</a
            >
          </li>
          <li class="list6">
            <a
              href="https://www.facebook.com/groups/363757481925845/?ref=share&mibextid=NSMWBT"
              target="_blank"
              >Anime Memes</a
            >
          </li>
        </ul>
      </nav>
      <div class="dropdown">
        <button class="dropbtn">Groups</button>
        <div class="dropdown-content">
          <a href="/">Home</a>
          <a href="./blog">Reviews</a>
          <a
            href="https://www.facebook.com/groups/5717013748411048/?ref=share&mibextid=NSMWBT"
            >BWT</a
          >
          <a
            href="https://www.facebook.com/groups/1669674776898036/?ref=share&mibextid=NSMWBT"
            >BWT Alt</a
          >
          <a
            href="https://www.facebook.com/groups/587713549913453/?ref=share&mibextid=NSMWBT"
            >RoAMV</a
          >
          <a
            href="https://www.facebook.com/groups/363757481925845/?ref=share&mibextid=NSMWBT"
            >AMWYCR</a
          >
        </div>
      </div>
    </div>
  </div>
</header>
