<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div class="nav-logo">
        <h3>
          <a href="/"
            ><span class="spanone">BAMO</span
            ><span class="spantwo">Ani-Manhwa Obsession</span>
          </a>
        </h3>
      </div>
      <nav>
        <ul role="list" class="nav-list flex-group">
          <li class="list1">
            <a href="/">Home</a>
          </li>
          <li class="list2">
            <a href="/blog">Reviews</a>
          </li>
          <li class="list3">
            <a
              href="https://www.facebook.com/groups/325392530549313/"
              target="_blank"
              >BAMO</a
            >
          </li>
          <li class="list4">
            <a
              href="https://www.facebook.com/groups/374484258743637/"
              target="_blank"
            >
              ACA</a
            >
          </li>
          <li class="list5">
            <a
              href="https://www.facebook.com/groups/363757481925845/"
              target="_blank"
              >AEU</a
            >
          </li>
        </ul>
      </nav>
      <div class="dropdown">
        <button class="button-85" role="button">Groups</button>

        <div class="dropdown-content">
          <a href="/" class="one">Home</a>
          <a href="./blog" class="two">Reviews</a>
          <a
            href="https://www.facebook.com/groups/325392530549313/"
            >BAMO</a
          >
          <a
            href="https://www.facebook.com/groups/374484258743637/"
            >ACA</a
          >
          <a
            href="https://www.facebook.com/groups/363757481925845/"
            >AEU</a
          >
        </div>
      </div>
    </div>
  </div>
</header>
