<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div class="nav-logo">
        <h3><a href="/"><span class="spanone">BWT</span><span class="spantwo">Bengali WebToon</span>
          </a></h3>
      </div>
      <nav>
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog">Reviews</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
